@import "tailwindcss";

@layer utilities {
    * {
        box-sizing: border-box;
    }

    .outline-text {
        -webkit-text-stroke: 3px rgba(255, 255, 255, 0.3);
        -moz-text-stroke: 3px rgba(255, 255, 255, 0.3);
        -ms-text-stroke: 3px rgba(255, 255, 255, 0.3);
        text-stroke: 3px rgba(255, 255, 255, 0.3);
    }

    ::selection {
        background-color: #FB2C36;
        color: #FFFFFF;
    }
}