---
import BaseLayout from "../layouts/BaseLayout.astro";
import Title from "../components/Title.jsx";
import Projects from "../components/Projects.jsx";
---

<BaseLayout>
    <main class="px-5 h-[calc(100vh-133px)] grid place-items-center max-md:h-[calc(100vh-161px)]">
        <section class="text-center">
            <Title width={924} height={75} client:load />
            <Projects client:load />
        </section>
    </main>
</BaseLayout>