---
const currentYear = new Date().getFullYear();
---

<footer class="p-5 flex justify-between items-center max-md:flex-col max-md:items-center max-md:gap-1">
    <div>2021 &ndash; {currentYear} · Harvey Coombs</div>
    <a href="https://github.com/harveycoombs/www" target="_blank" rel="noopener noreferrer" class="hover:underline">View this site on GitHub</a>
</footer>