---
const currentYear = new Date().getFullYear();
---

<footer class="p-5 text-center text-sm">
    2021 &ndash; {currentYear} &middot; Harvey Coombs &middot; <a href="https://github.com/harveycoombs/www" target="_blank" rel="noopener noreferrer" class="hover:underline">View this site on GitHub</a>
</footer>