---
import "../styles/global.css";

import Header from "../components/Header.jsx";
import Footer from "../components/Footer.astro";

const fontUrl = "https://fonts.googleapis.com/css2?family=Literata:wght@200;300;400;500;600;700;800;900&display=swap";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />

        <meta name="description" content="The official personal website of Harvey Coombs." />
        <meta name="theme-color" content="#869BB5" />

        <title>Harvey Coombs</title>

        <link rel="icon" href="/images/icon.png" />

        <link rel="apple-touch-icon" sizes="180x180" href="/images/icon.png" />
        <link rel="canonical" href="https://harveycoombs.com" />
        <link rel="stylesheet" href={fontUrl} />

        <link rel="stylesheet" href="/globals.css" />
        <link rel="stylesheet" href="@fortawesome/fontawesome-svg-core/styles.css" />
    </head>

    <body class="min-h-screen bg-[linear-gradient(to_bottom,rgba(31,41,55,0.85),rgba(55,65,81,0.85)),url('/images/background.jpg')] bg-cover bg-center bg-no-repeat text-gray-300 select-none font-[Literata]">
        <Header client:load />
            <slot />
        <Footer />
    </body>
</html>